<p-messages [(value)]="msgs"></p-messages>

<p-card header="Question: {{question.question}}">

    <div *ngFor="let c of question.choices">
        <div class="ui-g">
            <div class="ui-g-8">
                <p-radioButton name="choice" [value]="c.url" [label]="c.choice" [(ngModel)]="selectedChoiceLink">
                </p-radioButton>
            </div>
            <div class="ui-g-2">{{c.votes}}</div>
            <div class="ui-g-2">
                <p-progressBar [value]="c.votes/totalVotes *100|number:'1.0-0'"></p-progressBar>
            </div>
        </div>

    </div>
    <div class="ui-g">
         <div class="ui-g-2"> <button pButton type="button" (click)="vote($event)" label="Vote" ></button></div>
    </div>


</p-card>